
// Colors palette
$black: #27323A;
$gray: #435055;
$green: #29A19C;
$lime: #A3F7BF;
$greenNeon: #4afd26;
$yellowNeon: #fef661;


$green1: #4AFD26;
$green2: #26FD6E;
$green3: #B5FD26;

$complementary: #D926FD;


$footer1: #29A19C;
$footer2: #296AA1;
$footer3: #29A160;