
// Fjalla One + Noto Sans

$fjalla: 'Fjalla One', sans-serif;
$noto: 'Noto Sans', sans-serif;

// $noto: 'Text Me One', sans-serif;
// $fjalla: 'Text Me One', sans-serif;

$textMeOne: 'Text Me One', sans-serif;
