.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.title {
  font-family: "Fjalla One", sans-serif;
}

.text {
  font-family: "Noto Sans", sans-serif;
}

.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #2c5364, #203a43, #0f2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
}
body header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 1vh;
  background-color: #D926FD;
}
body header #mobileMenu {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 9vh;
  right: 0;
  width: 75%;
  height: 60vh;
  background-color: #435055;
}
body header #mobileMenu a {
  text-decoration: none;
  color: #4afd26;
  padding: 1vh 2vh;
}
body header #mobileMenu a:hover {
  border: 1px solid #4afd26;
  border-radius: 30px;
  transform: scale(1.1);
}
body header #menuIcon {
  height: 90%;
  width: auto;
}
body main .sectionFont {
  justify-content: center;
  text-align: center;
  color: #A3F7BF;
}
body main .sectionFont h2 {
  padding: 10px 0;
}
body main .sectionFont p {
  margin: 0 8%;
  font-size: 0.8rem;
}
body main .heroSection {
  overflow: hidden;
  width: 100%;
  justify-content: center;
}
body main .heroSection img {
  overflow: hidden;
  width: 140%;
}
body main #worksSection .cardContainer {
  margin: 10%;
  border: 1px solid springgreen;
  border-radius: 15px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
body main #worksSection .cardContainer h3,
body main #worksSection .cardContainer p {
  margin: 3%;
}
body main #worksSection .cardContainer img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
body main #worksSection .cardContainer a {
  margin-bottom: 3%;
  justify-content: center;
}
body main #worksSection .cardContainer a img {
  width: 90%;
}
body main #contactSection form {
  margin: 3% auto;
  padding: 3%;
  border: 1px solid #4afd26;
  border-radius: 15px;
  width: 80%;
  text-align: left;
}
body main #contactSection form label {
  width: 90%;
  padding-left: 4%;
}
body main #contactSection form input textarea {
  width: 90%;
  padding-left: 2%;
  margin: auto;
  margin-bottom: 2%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #4afd26;
}
body main #contactSection form .buttonContainer {
  justify-content: space-evenly;
}
body main #contactSection form .buttonContainer .btn {
  padding-right: 2%;
  margin: 3%;
  width: 40%;
}
body main #contactSection form .buttonContainer #submitButton {
  border: 1px solid;
  border-color: #4afd26;
  color: #4afd26;
}
body main #contactSection form .buttonContainer #resetButton {
  border: 1px solid;
  border-color: #fef661;
  color: #fef661;
}
body #footerSection {
  padding-top: 1vh;
  height: 13vh;
  background-color: #435055;
  justify-content: space-evenly;
  align-items: center;
}
body #footerSection p {
  padding-top: 1vh;
}
body #footerSection p a {
  text-decoration: none;
}
body #footerSection div a {
  display: flex;
  justify-content: center;
}
body #footerSection div a img {
  width: 60%;
}

/*# sourceMappingURL=style.css.map */
